# .gitignore para Ionic + Android

# Dependencias
node_modules/
.npm

# Entornos
.env
.env.local

# Logs y caché
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Entornos de ejecución
dist/
www/
.DS_Store

# Android
android/.gradle/
android/.idea/
android/app/build/
android/build/
android/capacitor.build.gradle
android/local.properties
android/capacitor.settings.gradle
*.apk
*.aab

# iOS
ios/App/Pods/
ios/App/build/
ios/App.xcworkspace/xcuserdata
ios/.capacitor.config.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
*~